:root {
  --bg-color: #ffffff;
  --text-color: #111827;
  --primary-color: #ff4667;
  --secondary-color: #e5e7eb;
}

.dark {
  --bg-color: #0f172a;
  --text-color: #ffffff;
  --primary-color: #ff4667;
  --secondary-color: #1f2937;
}

/* Apply globally */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}