/* Signup Page Wrapper */
.signup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: -1;
}

.signup-container {
  position: relative;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Light Theme */
.modal-content-light {
  background-color: #fff;
  color: #333;
}

/* Dark Theme */
.modal-content-dark {
  background-color: #333;
  color: #fff;
}

/* Close Button */
.closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: #000;
  font-size: 20px;
  cursor: pointer;
  z-index: 10000;
}

.closebtn:focus {
  outline: none;
}

/* Input Fields */
.input-field {
  margin-bottom: 15px;
  position: relative;
  width:100% !important
}

.form-control {
  width: 100% !important;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  background-color: #acacac;
}

.text-white {
  color: #fff;
}

.bg-dark {
  background-color: #333;
}

.bg-light {
  background-color: #fff;
}

.border-light {
  border: 1px solid #ddd;
}

.border-dark {
  border: 1px solid #333;
}

.text-dark {
  color: #333;
}

/* Validation Check Icon */
.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: green;
  font-size: 18px;
}

/* Error Message */
.error-message {
  color: #ef4444;
  font-size: 12px;
  margin-top: 5px;
}

/* Toggle Password Visibility */
.password-toggle {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
}

/* Button */
.btn {
  width: 100% ;
  padding: 12px;
  font-size: 16px;
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #0056b3;
}

/* Links */
.text-primary {
  color: #007bff;
}

.text-primary:hover {
  color: #0056b3;
}
/* SweetAlert2 z-index fix */
.swal2-container {
  z-index: 1050 !important; /* Ensure SweetAlert2 appears on top */
}

.swal2-popup {
  z-index: 1050 !important; /* Set Swal popup above other content */
}

/* Optional: Adjust the modal overlay if needed */
.swal2-overlay {
  z-index: 1040 !important; /* Set overlay above other content */
}
